.hero {
    height: 100vh;
    min-height: 400px;
    background-image: url(../../img/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-color);
}

.hero__container {
    position: relative;
    height: 100%;
    padding-top: 219px;
    padding-bottom: 200px;
}

.hero__link {
    background-color: rgba(28, 46, 61, 0.4);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 18px 29px 17px 30px;
    border-radius: 24px;
    display: inline-block;
    margin: 0 0 41px 0;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
    max-width: 40%;
    margin: 0 0 40px 0;
}

.hero__descr {
    font-family: "SF Compact", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 32%;
    margin: 0 0 56px 0;
}

.hero__btn {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.2px;
    background: var(--accent-color);
    border-radius: 8px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 33px 82px 33px 80px;
}

.hero__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: flex-end;
}

.search-form {
    flex-shrink: 0;
    position: relative;
    width: 68%;
    overflow: hidden;
    border-top-left-radius: 4px;
    height: 120px;
}

.search-form__field {
    border: none;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: var(--dark-color);
    padding-left: 55px;
    padding-right: 100px;
}

.search-form__btn {
    width: 18px;
    height: 18px;
    background-image: url(../../img/search.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
}

.main-slider {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0; 
}

.main-slider__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: var(--neptun-color);
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.2px;
}